.home {
  height: 100%;

  .carousel-page {
    //height: 100vh !important;
    height: 700px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .carousel-page-0 {
    position: relative;
    color: #fff;
    min-height: 700px;
    background: url('../../assets/header-1.jpg');
    background-size: cover;

    .ant-menu-horizontal.light > .ant-menu-item-selected,
    .ant-menu-horizontal.light > .ant-menu-item:hover {
      border-bottom: 2px solid transparent !important;
    }

    .page-0-content {
      position: absolute;
      z-index: 1;
      width: 100%;

      .sub-title {
        color: rgba(255, 255, 255, 0.8);
        margin-top: 10px;
      }
    }
    .svg-container {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 100px;
      .net-line {
        width: 100%;
        height: 470px;
      }
    }
    .title {
      margin-top: 80px;
      .logo-container {
        position: relative;
        height: 200px;
        cursor: pointer;
      }
      .logo {
        width: 400px;
        height: 200px;
        position: absolute;
        top: ~'calc(50% - 50px)';
        left: ~'calc(50% - 150px)';
      }
      .logo-anime {
        animation: logoAnime 10s linear;
      }
      @keyframes logoAnime {
        0% {
          stroke-dasharray: 0 200%;
        }
        100% {
          stroke-dasharray: 200%;
        }
      }
      @keyframes circleAnime {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .page-0-foot {
      margin-top: 245px;
      .line {
        border-bottom: 1px solid #fff;
        margin-top: 10px;
      }
      .company {
        text-align: justify;
        width: 100%;
        span {
          display: inline-block;
        }
      }
    }
  }
  .carousel-page-1 {
    background: url('../../assets/header-2.jpg');
    background-size: cover;
    .computer {
      width: 80%;
      margin-left: 10%;
    }
    .desc-0 {
      font-size: 30px;
      text-align: right;
    }
    .desc-1 {
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      margin-bottom: 20px;
    }
    .desc-2 {
      font-size: 12px;
      text-align: right;
      .para::after {
        content: '';
        display: inline-block;
        margin-left: 5px;
        margin-top: 10px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #666;
      }
    }
  }
  .carousel-page-2 {
    background: url('../../assets/header-3.jpg');
    background-size: cover;
    .content {
      color: #fff;
      margin-top: 150px;
      text-align: center;
      .title {
        font-size: 36px;
      }
      .sub-title {
        font-size: 18px;
      }
      .img-wrap {
        width: 96%;
        margin: 50px 2% 0 2% !important;
      }
      .pic-container {
        background: rgba(255, 255, 255, 0.2);
        padding: 6% 1.2% 11% 1.2%;
        margin-left: 5%;
        margin-bottom: 5%;
        text-align: center;
        max-width: 200px;
        border-radius: 1%;
        .pic {
          width: 95%;
          height: 150px;
        }
        .pic-title {
          margin-top: 15px;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
    @media only screen and (max-width: 768px) and (min-width: 0) {
      .pic {
        height: 92px !important;
      }
      .pic-title {
        margin-top: 7px !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .home .carousel-page-0 .title .logo {
    width: 400px;
    height: 200px;
  }
  .home .carousel-page-0 .page-0-content .sub-title {
    font-size: 18px;
  }
  .home .carousel-page-1 .desc {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 0) {
  .home .carousel-page-0 .title .logo {
    width: 300px;
    height: 150px;
  }
  .home .carousel-page-0 .page-0-content .sub-title {
    font-size: 14px;
    margin: 0 6px;
  }
  .home .carousel-page-1 .desc {
    margin-right: 12px;
  }
}
